
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100 carrouseles">
        <img class="d-block  w-100" src="/assets/img/fondos/fondo13.jpg" alt="First slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 carrouseles">
        <img class="d-block w-100" src="/assets/img/fondos/fondo17.jpg" alt="Second slide">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100 carrouseles">
        <img class="d-block w-100" src="/assets/img/fondos/fondo14.jpg" alt="Third slide">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  