<mdb-carousel class="carousel slide carousel-fade " [animation]="'fade'">
    <mdb-carousel-item class="ml-6">
        <div class="col-md-3 carouselProductos" style="float:left">
            <div class="card mb-2 cards ">
               <img class="card-img-top"
                 src="/assets/img/productos/tortas/producto10.jpg" alt="Card image cap">
               <div class="card-body">
                 <h4 class="card-title">Torta de Chocolate con galletas</h4>
                 <p class="card-text">La torta de chocolate siempre es la favorita de los más pequeños. Una
                  receta de postres caseros clásica que podemos hacer en
                   cualquier ocasión.</p>
                 <a class="btn  btnAgregarAlCarrito">Agregar al Carrito</a>
               </div>
             </div>
           </div>
           <div class="col-md-3 carouselProductos" style="float:left">
            <div class="card mb-2 cards">
               <img class="card-img-top"
                 src="/assets/img/productos/tortas/producto1.jpg" alt="Card image cap">
               <div class="card-body">
                 <h4 class="card-title">Torta de Fresa</h4>
                 <p class="card-text">Este pastel de fresa sorprenderá a todos tus invitados, es un postre sencillo pero delicioso, tienes que probarlo.
                   con la crema pastelera hacen un postres predilectos.
                 </p>
                 <a class="btn  btnAgregarAlCarrito">Agregar al Carrito</a>
               </div>
             </div>
           </div>
           <div class="col-md-3 carouselProductos" style="float:left">
            <div class="card mb-2 cards">
               <img class="card-img-top"
                 src="/assets/img/productos/tortas/producto7.jpg" alt="Card image cap">
               <div class="card-body">
                 <h4 class="card-title">Torta de Chocolate</h4>
                 <p class="card-text">La torta de chocolate siempre es la favorita de los más pequeños. Una
                    receta de postres caseros clásica que podemos hacer en
                     cualquier ocasión. </p>
                 <a class="btn  btnAgregarAlCarrito">Agregar al Carrito</a>
               </div>
             </div>
           </div>
           <div class="col-md-3 carouselProductos" style="float:left">
            <div class="card mb-2 cards">
               <img class="card-img-top"
                 src="/assets/img/productos/tortas/producto9.jpg" alt="Card image cap">
               <div class="card-body">
                 <h4 class="card-title">Torta de Miel</h4>
                 <p class="card-text">La torta de miel es exquisita para acompañar con un queso suave como el queso guayanès, queso telita,
                    o queso paisa, ya que su sabor dulce</p>
                 <a class="btn  btnAgregarAlCarrito">Agregar al Carrito</a>
               </div>
             </div>
           </div>

  </mdb-carousel-item>

  <mdb-carousel-item class="ml-6">
    <div class="col-md-3 carouselProductos" style="float:left">
      <div class="card mb-2 cards">
         <img class="card-img-top"
           src="/assets/img/productos/tortas/producto9.jpg" alt="Card image cap">
         <div class="card-body">
           <h4 class="card-title">Torta de Miel</h4>
           <p class="card-text">La torta de miel es exquisita para acompañar con un queso suave como el queso guayanès, queso telita,
              o queso paisa, ya que su sabor dulce</p>
           <a class="btn  btnAgregarAlCarrito">Agregar al Carrito</a>
         </div>
       </div>
     </div>
    
  </mdb-carousel-item>
  <mdb-carousel-item class="ml-6">
    
  </mdb-carousel-item>
    
</mdb-carousel>
