.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
  .botonAgregar{
    color: white;
    background: white;
}

.contenedor{
  max-width: 100%;
  background-color: rgba(rgb(230, 230, 230));
  opacity: .99;
  padding: 0 20px;
  border: 1px solid white;


}
.aRecordarContraseña{
  color: #0c62bf;

}
.user-img{
  margin-top: 100px;
  margin-bottom: 35px;
}
.user-img img{
  width: 100px;
  height: 100px;
}
.inputs{
  color: white;
}