.h2{
    text-align: center;
}
.formulario{
    float: left;
    justify-content: left;
    border-right: 1px solid ; 
    color: black;
    width: 650px;
}

.botonIngresar{
    background-color: rgb(252, 112, 112) !important;

    color: white;
}
