<nav class="navbar navbar-expand-lg navbar fixed-top component" >
    <div class="container ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mr-4 ml-5">
          <li class="nav-item mr-6">
            <a class="nav-link float-center" name="tortasYPostres" (click)="activarCarousel('1')" [ngClass]="{si: estadoPositivo, no: !estadoPositivo}" ><b>Tortas y postres</b></a>
          </li>
          <li class="nav-item mr-6">
            <a class="nav-link float-center" name="combos" (click)="activarCarousel('2')" [ngClass]="{si: estadoPositivo, no: !estadoPositivo}"><b>Combos</b> </a>
          </li>
          <li class="nav-item mr-6">
            <a class="nav-link float-center" name="regalos" (click)="activarCarousel('3')"><b>Regalos</b> </a>
          </li>
          <li class="nav-item mr-6">
            <a class="nav-link float-center" name="panes" (click)="activarCarousel('4')"><b>Panes</b> </a>
          </li>
          <li class="nav-item mr-6">
            <a class="nav-link float-center" name="celebracion" (click)="activarCarousel('5')"><b>Celebracion</b> </a>
          </li>
          <li class="nav-item mr-6">
            <a class="nav-link float-center" name="bebidas" (click)="activarCarousel('6')"><b>Bebidas</b> </a>
          </li>
          <li class="nav-item mr-6">
            <a class="nav-link float-center" name="antojos" (click)="activarCarousel('7')"><b>Antojos</b> </a>
          </li>
        </ul>
      </div>
    </div> 
  </nav>