.formularioRegistro{
    float: inline-start;
    justify-content: right;
    align-items: right;
    left: 20px;
    position: relative;
    top: 40px;
    color: black;
    width: 1300px;
}
.botonConfirmar{
    background-color: rgb(252, 112, 112) !important;
    color: white;
}