
<h2 class="titleModal col-12" style="font-family: 'Work Sans Black card-header card-header-warning'">{{titulo}} 
    <span (click)="cerrarModal()" class="material-icons float-right bottonCerrar">clear</span>
</h2>
    <form>
        <div class="row contentModal" >
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Apellido">
                </mat-form-field>
            </div>
    
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                <input matInput placeholder="Identificacion">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Salario" value="$">
                </mat-form-field>
            </div>

            <div class="col-md-12">
                <button mat-raised-button class="float-right botonAgregar" >Guardar</button>
            </div>
            
        </div>
    </form>