
<div class="form">
    <h2 class="titleModal col-6" style="font-family: 'Work Sans Black'">{{titulo}} 
        
        </h2>
        
        <form class="formDatosCliente ml-2 mt-3">
        <i class="material-icons ml-3 mr-3 iconFace">face</i> 
            <label for="" class="labelCorreo mt-0 ml-5"><b>Luis21@gmail.com</b> </label>
            <div class="row contentModal">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Identificacion">
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Nombre">
                    </mat-form-field>
                </div>
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Apellido">
                    </mat-form-field>
                </div>
                
                <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                    <input matInput placeholder="Telefono">
                    </mat-form-field>
    
                </div>
    
                <div class="col-md-12">
                    <button mat-raised-button class="float-center botonAgregar">Continuar</button>
                </div>
                
            </div>
        </form>
</div>